absl-py
aiohttp
aiosignal
astor==0.8.1
astunparse==1.6.3
async-timeout
asynctest==0.13.0
attrs
blinker==1.4
brotlipy==0.7.0
cached-property
cachetools
certifi==2021.10.8
cffi
charset-normalizer
click==8.0.1
colorama
cycler==0.11.0
dill==0.3.4
fire==0.4.0
Flask==2.0.1
flatbuffers
fonttools==4.32.0
frozenlist
gast
google-auth
google-auth-oauthlib==0.4.1
google-pasta
grpcio
h5py
idna
imageio==2.16.2
importlib-metadata==4.11.3
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
Keras-Applications==1.0.8
Keras-Preprocessing
kiwisolver==1.4.2
llvmlite==0.38.0
Markdown==3.1.1
MarkupSafe==2.0.1
matplotlib==3.5.1
multidict
networkx==2.8
numba==0.55.1
numpy
nvidia-pyindex==1.0.9
oauthlib
opencv-python
opt-einsum
packaging==21.3
Pillow==9.1.0
protobuf==3.14.0
psutil==5.9.0
pyasn1
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycparser
PyJWT
pyOpenSSL
pyparsing==3.0.8
pyreadline==2.1
PySocks
python-dateutil==2.8.2
PyWavelets==1.3.0
requests
requests-oauthlib==1.3.0
rsa
scikit-image==0.19.2
scipy
six
slidingwindow==0.0.14
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator==2.8.0
termcolor==1.1.0
tf-slim==1.1.0
tifffile==2022.4.8
tqdm==4.64.0
typing_extensions
urllib3
Werkzeug
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
yarl
zipp